.alert-box {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.warning,
.failure,
.alert {
  text-align: center;
  font-family: "Google Sans", "Helvetica Neue", sans-serif;
  width: 80%;
  display: none;
  position: absolute;
}

.warning {
  color: #a96842;
  background-color: #f3ecd3c9;
  border-color: #ebdacc;
}

.failure {
  color: #a94242;
  background-color: #f3d3d3c9;
  border-color: #ebccd1;
}

.alert {
  color: #52a942;
  background-color: #d3f3d5c9;
  border-color: #d2ebcc;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 2%;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 2%;
}

.flex-container .chat-box {
  padding-bottom: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25rem;
  align-items: center;
}

.flex-container .chat-box .chat {
  border-radius: 15px 15px 0 0;
  background-color: #909495;
  width: auto;
  font-family: -webkit-pictograph;
  padding: 5% 5%;
  height: 30rem;
  overflow: auto;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.flex-container .chat-box .chat p {
  max-width: 10px;
  word-break: all;
}

.flex-container .chat-box .chat-input {
  width: 25rem;
  font-size: 20px;
  border-radius: 0 0 8px 8px;
  background-color: rgba(255, 255, 255, 0.527);
  color: black;
  outline: none;
  border: none;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  padding: 0% 5%;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

body {
  background-color: 56609e;
  padding: 0 10%;
}

body .main {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

body h1 {
  margin: 0;
  font-size: 700%;
  color: #dfddd2;
  font-family: "Roboto", sans-serif;
  text-shadow: 2px 2px 2px #cfd66e;
}

body h2 {
  color: #cecece;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 3rem;
  margin: 0;
}

body .sidenav {
  float: left;
  display: inline;
  height: 50%;
}

#chat {
  display: -ms-grid;
  display: grid;
}

#container {
  margin: 7% 0;
  height: 55vh;
  width: 55vh;
}

#container #board {
  height: 100%;
  width: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  background-color: 56609e;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 10px;
}

#container #board .board-item {
  display: -ms-grid;
  display: grid;
  background-color: #5b108d;
  place-items: center;
  color: greenyellow;
  border-radius: 35%;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
}

#container #board .board-item p {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-size: 8rem;
}

footer {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

footer p {
  margin: 0;
  display: inline;
  width: 200%;
}

footer button {
  padding: 10px;
  font-size: larger;
  margin: 5px 0;
  font-family: "Montserrat", sans-serif;
  outline: none;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

footer #join {
  background-color: #18dd18;
  color: white;
  border-radius: 15px 5px 15px 5px;
}

footer #leave {
  background-color: #da1f1f;
  color: white;
  border-radius: 15px 5px 15px 5px;
}

footer input {
  border-radius: 15px;
  font-size: larger;
  display: inline;
  outline: none;
  border: none;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  padding: 2.5% 5%;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.527);
  color: black;
  text-align: center;
}
/*# sourceMappingURL=styles.css.map */