$fr: 1fr 1fr 1fr;

$shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);

$bg-around: 56609e;

.alert-box {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: $shadow;
}

.warning,
.failure,
.alert {
  text-align: center;
  font-family: "Google Sans", "Helvetica Neue", sans-serif;
  width: 80%;
  display: none;
  position: absolute;
}

.warning {
  color: #a96842;
  background-color: #f3ecd3c9;
  border-color: #ebdacc;
}

.failure {
  color: #a94242;
  background-color: #f3d3d3c9;
  border-color: #ebccd1;
}

.alert {
  color: #52a942;
  background-color: #d3f3d5c9;
  border-color: #d2ebcc;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 2%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2%;

  .chat-box {
    padding-bottom: 2rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25rem;
    align-items: center;

    .chat {
      border-radius: 15px 15px 0 0;
      background-color: rgb(144, 148, 149);
      width: auto;
      font-family: -webkit-pictograph;
      padding: 5% 5%;
      height: 30rem;
      overflow: auto;
      margin-bottom: 10px;
      box-shadow: $shadow;
    }

    .chat-input {
      width: 25rem;
      font-size: 20px;
      border-radius: 0 0 8px 8px;
      background-color: rgba(255, 255, 255, 0.527);
      color: rgb(0, 0, 0);
      outline: none;
      border: none;
      font-family: "Courier New", Courier, monospace;
      font-weight: bolder;
      padding: 0% 5%;
      box-shadow: $shadow;
    }
  }
}

body {
  background-color: $bg-around;
  padding: 0 10%;

  .main {
    display: grid;
    place-items: center;
  }

  h1 {
    margin: 0;
    font-size: 700%;
    color: rgb(223, 221, 210);
    font-family: "Roboto", sans-serif;
    text-shadow: 2px 2px 2px #cfd66e;
  }

  h2 {
    color: rgb(206, 206, 206);
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 3rem;
    margin: 0;
  }

  .sidenav {
    float: left;
    display: inline;
    height: 50%;
  }
}

#chat {
  display: grid;
}

#container {
  margin: 7% 0;
  height: 55vh;
  width: 55vh;
  #board {
    height: 100%;
    width: auto;
    display: grid;
    grid-template-columns: $fr;
    grid-template-rows: $fr;
    background-color: $bg-around;
    column-gap: 10px;
    row-gap: 10px;

    .board-item {
      display: grid;
      background-color: rgb(91, 16, 141);
      place-items: center;
      color: greenyellow;
      border-radius: 35%;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
        0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
        0 16px 16px rgba(0, 0, 0, 0.12);

      p {
        margin: 0;
        font-family: "Roboto", sans-serif;
        font-weight: bolder;
        font-size: 8rem;
        opacity: 1;
      }
      .anim {
        animation: 0.5s ease-in xo-text;
      }

      @keyframes xo-text {
        0% {
          font-size: 0;
          opacity: 0;
        }
        100% {
          font-size: 8rem;
          opacity: 1;
        }
      }
    }
  }
}

footer {
  display: grid;
  place-items: center;
  p {
    margin: 0;
    display: inline;
    width: 200%;
  }

  button {
    padding: 10px;
    font-size: larger;
    margin: 5px 0;
    font-family: "Montserrat", sans-serif;
    outline: none;
    box-shadow: $shadow;
  }

  #join {
    background-color: rgb(24, 221, 24);
    color: rgb(255, 255, 255);
    border-radius: 15px 5px 15px 5px;
  }

  #leave {
    background-color: rgb(218, 31, 31);
    color: white;
    border-radius: 15px 5px 15px 5px;
  }

  input {
    border-radius: 15px;
    font-size: larger;
    display: inline;
    outline: none;
    border: none;
    font-family: "Courier New", Courier, monospace;
    font-weight: bolder;
    padding: 2.5% 5%;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.527);
    color: rgb(0, 0, 0);
    text-align: center;
  }
}
